<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7C50gEPw7Cmxt3E6ma1DvaP_0UZLWMDc</string>
	<key>GCM_SENDER_ID</key>
	<string>926058130573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abhilash.iOS</string>
	<key>PROJECT_ID</key>
	<string>routerapp-753e9</string>
	<key>STORAGE_BUCKET</key>
	<string>routerapp-753e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926058130573:ios:51343dbdb6ad660cc086c4</string>
</dict>
</plist>